body {
  margin: 0;
  font-family: Raleway;
  font-weight: 300;


}

main {
    width: 90%;
    margin: auto;
}

h1 {
 font-weight: 300;
 font-color: #000;
 text-align: center;
}

h2 {
 font-weight: 300;
 color: #000;
 text-align: center;
 }


footer {

}

footer.fondo-gris {
    background: grey;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;

}



/*modal*/

/*.box{
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text_align: center;
    }*/

.box {
    width: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    margin-top: 100px; /*TODO ver de arreglar con div o algo*/
}

/*
.button {
    font-size: 1em;
    padding: 10px;
    color: #000;
    border: 2px solid #25d3c0;
    border-radius: 45px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover{
    background: #25d3c0;
}*/

.boton {
    font-size: 1em;
    padding: 10px;
    color: #000;
    border: 2px solid #25d3c0;
    border-radius: 45px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: -webkit-fill-available;
    margin: 10px;
}

.boton:hover{
    background: #25d3c0;
}

.boton-tabla{
    box-sizing: border-box;
    font-size: small !important;
    padding: 6px;
}

.eliminar{
    border: 2px solid #C70039 !important;
}

.eliminar:hover{
    background: #C70039 !important;
    color: #FFFFFF !important;
}

.editar{
    border: 2px solid #3ED024 !important;
}

.editar:hover{
    background: #3ED024 !important;
    color: #FFFFFF !important;
}


/*@media screen and (max-width: 700px)
{
    .box{
        width:70%;
    }
    .popup{
        width:70%;
    }

}*/


/* Style the input fields */

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

#registrar {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #aaaaaa;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15;
    padding-bottom: 15;
}

/*#registrar {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #aaaaaa;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15;
    padding-bottom: 15;
}*/

/*#RegistrarMascota{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #aaaaaa;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15;
    padding-bottom: 15;
}*/


.registro{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #aaaaaa;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15;
    padding-bottom: 15;
}

#header{
    margin: auto;
    width: 100%;
    height: 78px;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #B7E8BD;
}

ul, ol {
    list-style: none;
}

.nav li a, #cerrarSesion{
    background-color: #B7E8BD;
    color: #323232;
    text-decoration:none;
    padding:10px 15px;
    display:block;
    border: 1px solid #B7E8BD;
    font-size: 17px;
    font-family: Raleway;
}

.nav li a:hover, #cerrarSesion:hover{
    background-color: #9ee1a6;
}

.nav > li{
    float:left;
}
#cerrarSesion{
    cursor: pointer;
    text-align:left;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 140px;

}

.nav li:hover > ul{
    display:block;
}

.submenu{
    right: 0px;
}

.nav{
    position: fixed;
    right: 15px;
    top: 20px;
}


.table-all{
border-collapse:collapse;
border-spacing:0;
width:100%;
display:table;
border:1px solid #ccc;
}



.table-all tr{border-bottom:1px solid #ddd}

.table-all tr:nth-child(odd){background-color:#fff}
.table-all tr:nth-child(even){background-color:#f1f1f1}
.hoverable tbody tr:hover{background-color:#ccc}

.table-all td,.table-all th{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
    }
.table-all th:first-child,.table-all td:first-child{
    padding-left:16px
}
.card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
    }

.seccion{
    width:80%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
}


#agregar{
    bottom: -28px;
    position: relative;
}

/*Multiple step form*/

.tab {
  display: none;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}


/*
* {
  box-sizing: border-box;
}
*/

body {
  background-color: #f1f1f1;
}

.formulario {
/*  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;*/
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button, .button {
  background-color: #90b2ff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  text-decoration:none;
  margin: 15px;
}

.button{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

button:hover, .button:hover {
  opacity: 0.8;
}
#botonMascotas, #botonRescates{
    display: inline;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.sinRegistrar {
  display: none;
}

.registrado {
  display: none;
}

#logo{
    margin: 12px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-flex;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {

  padding: 2px 16px;
}