body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

main {
    width: 90%;
    margin: auto;
}

h1 {
 font-weight: 300;
 font-color: #000;
}

h2 {
 font-weight: 300;
 color: #000;
 text-align: center;
 }


footer {

}

section.fondo-gris {
    background: #cfcdcd;
    padding: 5px;
}

footer.fondo-gris {
    background: grey;
    color: white;
}



/*modal*/

/*.box{
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text_align: center;
    }*/

.box {
    width: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 40px;
}


.button {
    font-size: 1em;
    padding: 10px;
    color: #000;
    border: 2px solid #25d3c0;
    border-radius: 45px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover{
    background: #25d3c0;
}

.boton {
    font-size: 1em;
    padding: 10px;
    color: #000;
    border: 2px solid #25d3c0;
    border-radius: 45px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: -webkit-fill-available;
    margin: 10px;
}

.boton:hover{
    background: #25d3c0;
}






.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}


.popup{
    margin: 70px auto;
    padding: 20px;
    background: #cfcdcd;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
    height: fit-content;
}



.popup h2{
    margin-top: 0;
    color: #333;
}

.popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover{
    color: #25d3c0;
}

.popup .content{
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px)
{
    .box{
        width:70%;
    }
    .popup{
        width:70%;
    }

}




/* Style the form */

#regForm {
  background-color: #ffffff;
  margin: 200px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}


/* Style the input fields */

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

#registrar{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #aaaaaa;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15;
    padding-bottom: 15;
}



#header {
    margin: auto;
    width: 100%;
    height: 78px;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: black;
}

ul, ol {
    list-style: none;
}

.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration:none;
    padding:10px 15px;
    display:block;
}

.nav li a:hover{
    background-color: #434343;
}

.nav > li{
    float:left;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 140px;

}

.nav li:hover > ul{
    display:block;
}

.submenu{
    right: 0px;
}

.nav{
    position: fixed;
    right: 15px;
    top: 20px;
}


.w3-table-all{
border-collapse:collapse;
border-spacing:0;
width:100%;
display:table;
border:1px solid #ccc;
}


.w3-table-all tr{border-bottom:1px solid #ddd}

.w3-table-all tr:nth-child(odd){background-color:#fff}
.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover{background-color:#ccc}

.w3-table-all td,.w3-table-all th{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
    }
.w3-table-all th:first-child,.w3-table-all td:first-child{
    padding-left:16px
}
.w3-card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
    }

.seccion{
    width:80%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
}


#agregar{
    bottom: -28px;
    position: relative;
}


