{{# partial "titulo" }}
<title>Patitas - Agregar caracteristica</title>
{{/partial}}


{{# partial "contenido" }}

<div>
    <section>
        <h2></h2>

        <form class="login" action="/caracteristicas/nueva" method="POST">
            <div class="campo">
                <span class="nombre-campo">Nombre de la caracteristica:</span><input type="text" name="Nombre de la caracteristica" placeholder="Ingrese el nombre de la caracteristica">
                <span class="nombre-campo">Obligatoria:</span><input list="obligatoria" name="obligatoria">
                    <datalist id="obligatoria">
                        <option value= "Si">
                        <option value= "No">
                    </datalist>
                <span class="nombre-campo">Tipo de caracteristica:</span><input list="tipoCaracteristica" name="Tipo de caracteristica">
                    <datalist id="tipoCaracteristica">
                        <option value= "Texto">
                        <option value= "Numerica">
                        <option value= "De respuesta si o no">
                        <option value= "Opcion multiple">
                    </datalist>
            </div>

            <h3>Opciones de respuesta</h3>
            <div class="campo">
                <span class="nombre-campo">Opcion 1:</span><input type="text" name="Opcion1" placeholder="Ingrese una posible respuesta">
            </div>
            <div class="campo">
                <span class="nombre-campo">Opcion 2:</span><input type="text" name="Opcion2" placeholder="Ingrese una posible respuesta">
            </div>
            <div class="campo">
                <span class="nombre-campo">Opcion 3:</span><input type="text" name="Opcion3" placeholder="Ingrese una posible respuesta">
            </div>
            <div class="campo">
                <span class="nombre-campo">Opcion 4:</span><input type="text" name="Opcion4" placeholder="Ingrese una posible respuesta">
            </div>
            <input class="boton" type="submit" value="Agregar Caracteristica">
        </form>
    </section>
</div>


<!-- <a href="/mascotas/enviado">Enviar</a>  Aca deberiamos agregar un aviso de que el formulario fue procesado con exito o algo asi-->


{{/partial}}

{{> layout.html.hbs }}