{{# partial "titulo" }}
  <title>Patitas - Registrarme</title>

{{/partial}}


{{# partial "contenido" }}

  <div>
    <section>
      <form id="regForm" class ="formulario" action="/rescates/nuevo" method="POST">
          <div class="registro">
        <div class="tab">

          <div class="campo">
            <span class="nombre-campo">Nombre:</span><input type="text" name="Nombre" placeholder="Ingrese su nombre">
          </div>
          <div class="campo">
            <span class="nombre-campo">Apellido:</span><input type="text" name="Apellido" placeholder="Ingrese su apellido">
          </div>
          <div class="campo">
            <span class="nombre-campo">Fecha de Nacimiento:</span><input type="date" name="Fecha De Nacimiento">
          </div>
          <div class="campo">
            <span class="nombre-campo">Tipo de Documento:</span><input list="tiposDocumento" name="Tipo de Documento">
            <datalist id="tiposDocumento">
              {{#tipoDocumento}}
              <option value= {{this}}>
              {{/tipoDocumento}}
            </datalist>
          </div>
          <div class="campo">
            <span class="nombre-campo">Nro Documento:</span><input type="text" name="Numero Documento">
          </div>
        </div>

        <div class="tab">
          <h3>Datos de Contacto</h3>
          <div class="campo">
            <span class="nombre-campo">Nombre:</span><input type="text" name="nombre" placeholder="Ingrese Nombre">
          </div>
          <div class="campo">
            <span class="nombre-campo">Apellido:</span><input type="text" name="apellido" placeholder="Ingrese Apellido">
          </div>
          <div class="campo">
            <span class="nombre-campo">Telefono:</span><input type="tel" name="telefono" placeholder="Ingrese Telefono">
          </div>
          <div class="campo">
            <span class="nombre-campo">E-mail:</span><input type="email" name="email" placeholder="Ingrese Email">
          </div>
        </div>

        <div class="tab">

          <h5>Dirección</h5>
          <div class="campo">
            <span class="nombre-campo">Calle:</span><input type="text" name="direccion-calle" placeholder="Ingrese una calle">
          </div>
          <div class="campo">
            <span class="nombre-campo">Altura:</span><input type="number" name="direccion-altura" placeholder="Ingrese una altura">
          </div>
          <div class="campo">
            <span class="nombre-campo">Piso/Dpto:</span><input type="number" name="direccion-piso-dpto" placeholder="Ingrese el piso/departamento">
          </div>
        </div>

        <div class="tab">

          <div class="campo">
            <span class="nombre-campo">¿La mascota que encontraste tiene chapita?</span>
            <span class="nombre-campo">Con chapita</span><input id ="checkChapita" type="checkbox" name="Tiene chapita" onclick="hideSteps(registrado, sinRegistrar)">
          </div>
          <div class="campo">
            <span class="nombre-campo">Estado en el que encontraste la mascota:</span><input type="text" name="estado mascota" placeholder="Ingrese la descripcion fisica del estado en que encontro la mascota">
          </div>
          <div class="campo">

            <span class="nombre-campo">Lugar en el que encontraste la mascota:</span>
                <input id="pac-input" class="controls" type="text" placeholder="Ingrese direccion">
                <div id="map"></div>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwiuUJ6HQxo91RPKQZAdHN-Ps38JVd92c&libraries=places&callback=initAutocomplete"
                     async defer></script>

          </div>
          <div class="campo">
            <span class="nombre-campo">Arrastre las fotos aqui:</span><input type="file" name="fotos" accept="image/*" multiple>
          </div>
          <div id="campos-opcionales">

          </div>

          <div id="registrado" style="display:block">
            <div class="campo">
              <span class="nombre-campo">Id de la mascota:</span><input type="text" name="chapita" placeholder="Ingrese el id de la chapita">
            </div>
          </div>
          <div id="sinRegistrar" style="display:block">
            <div class="campo">
              <span class="nombre-campo">¿Es perro o gato?:</span><input list="tiposAnimales" name="Tipo del animal">
              <datalist id="tiposAnimales">
                {{#tipoAnimal}}
                <option value= {{this}}>
                {{/tipoAnimal}}
              </datalist>
            </div>

            <div class="campo">
              <span class="nombre-campo">¿Qué tamaño tiene?:</span><input list="tamanioAnimal" name="Tamaño del animal">
              <datalist id="tamanioAnimal">
                {{#tamanioAnimal}}
                <option value= {{this}}>
                {{/tamanioAnimal}}
              </datalist>
            </div>
          </div>
        </div>

        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
          </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
          </div>
       </form>

      {{#if mascotaInexistente}}
        <div id="u7" class="ax_default label"  style="margin-top: 15px" data-label="Mensaje de error">
          <p><span>La mascota que ha encontrado no se encuentra registrada en nuestra página</span></p>
        </div>
      {{/if}}

      {{#if rescateError}}

        <div class="alert alert-warning" role="alert">
          Ha ocurrido un error al intentar registrar el rescate. Por favor intente nuevamente
        </div>

      {{/if}}

    </section>

  </div>
  <script>
    var currentTab = 0; // Current tab is set to be the first tab (0)

    var registrado = $("#registrado").clone();
    var sinRegistrar = $("#sinRegistrar").clone();

    $("#registrado").remove();

    showTab(currentTab); // Display the current tab
  </script>
{{/partial}}

{{> layout.html.hbs }}