{{# partial "titulo" }}
<title>Patitas - Login</title>
{{/partial}}

{{# partial "contenido" }}
<section>
    <h2>Iniciar Sesión</h2>
    <form class="forumlario" action="/login" method="POST">
    <div class="registro">

            <div class="campo">
                <span class="nombre-campo">Nombre de usuario:</span><input  required type="text" name="username" placeholder="Ingrese nombre de usuario">
            </div>
            <div class="campo">
                <span class="nombre-campo">Contraseña:</span><input  required type="password" name="password" placeholder="Ingrese contraseña">
            </div>
            <input type="submit" class="button" value="Iniciar Sesión">

      {{#if mensajeError}}
        <div class="alert alert-danger" role="alert">
          Usuario o contraseña inválidos. Por favor inténtelo nuevamente.
        </div>
      {{/if}}
      
    </div>

        </form>


</section>
{{/partial}}

{{> layout.html.hbs }}
