{{# partial "titulo" }}
  <title>Patitas - Registrarme</title>

{{/partial}}


{{# partial "contenido" }}

  <div>
    <section>
      <form id="regForm" class ="forumlario" action="/rescates/nuevo" method="POST">
        <div class="tab">
          <div class="campo">
            <span class="nombre-campo">Nombre:</span><input type="text" name="Nombre" placeholder="Ingrese su nombre">
          </div>
          <div class="campo">
            <span class="nombre-campo">Apellido:</span><input type="text" name="Apellido" placeholder="Ingrese su apellido">
          </div>
          <div class="campo">
            <span class="nombre-campo">Fecha de Nacimiento:</span><input type="date" name="Fecha De Nacimiento">
          </div>
          <div class="campo">
            <span class="nombre-campo">Tipo de Documento:</span><input list="tiposDocumento" name="Tipo de Documento">
            <datalist id="tiposDocumento">
              {{#tipoDocumento}}
              <option value= {{this}}>
              {{/tipoDocumento}}
            </datalist>
          </div>
          <div class="campo">
            <span class="nombre-campo">Nro Documento:</span><input type="text" name="Numero Documento">
          </div>
        </div>
        <div class="tab">
          <h3>Datos de Contacto</h3>
          <div class="campo">
            <span class="nombre-campo">Nombre:</span><input type="text" name="nombre" placeholder="Ingrese Nombre">
          </div>
          <div class="campo">
            <span class="nombre-campo">Apellido:</span><input type="text" name="apellido" placeholder="Ingrese Apellido">
          </div>
          <div class="campo">
            <span class="nombre-campo">Telefono:</span><input type="number" name="telefono" placeholder="Ingrese Telefono">
          </div>
          <div class="campo">
            <span class="nombre-campo">E-mail:</span><input type="email" name="email" placeholder="Ingrese Email">
          </div>
        </div>
        <div class="tab">

          <h5>Dirección</h5>
          <div class="campo">
            <span class="nombre-campo">Calle:</span><input type="text" name="direccion-calle" placeholder="Ingrese una calle">
          </div>
          <div class="campo">
            <span class="nombre-campo">Altura:</span><input type="number" name="direccion-altura" placeholder="Ingrese una altura">
          </div>
          <div class="campo">
            <span class="nombre-campo">Piso/Dpto:</span><input type="number" name="direccion-piso-dpto" placeholder="Ingrese el piso/departamento">
          </div>
        </div>
        <div class="tab">
          <div class="campo">
            <span class="nombre-campo">¿La mascota que encontraste tiene chapita?</span>
            <span class="nombre-campo">Con chapita</span><input id ="checkChapita" type="checkbox" name="Tiene chapita"> <!--onclick="hideSteps()"-->
          </div>
          <div class="campo">
            <span class="nombre-campo">Estado en el que encontraste la mascota:</span><input type="text" name="estado mascota" placeholder="Ingrese la descripcion fisica del estado en que encontro la mascota">
          </div>
          <div class="campo">
            <span class="nombre-campo">Lugar en el que encontraste la mascota:</span><input type="text" name="lugar mascota" placeholder= "Aca deberia ir un mapa">
          </div>
          <div class="campo">
            <span class="nombre-campo">Arrastre las fotos aqui:</span><input type="file" name="fotos" accept="image/*" multiple>
          </div>
          <div id="registrado" style="display:block">
            <div class="campo">
              <span class="nombre-campo">Id de la mascota:</span><input type="text" name="chapita" placeholder="Ingrese el id de la chapita">
            </div>
          </div>
          <div id="sinRegistrar" style="display:block">
            <div class="campo">
              <span class="nombre-campo">¿Es perro o gato?:</span><input list="tiposAnimales" name="Tipo del animal">
              <datalist id="tiposAnimales">
                {{#tipoAnimal}}
                <option value= {{this}}>
                {{/tipoAnimal}}
              </datalist>
            </div>

            <div class="campo">
              <span class="nombre-campo">¿Qué tamaño tiene?:</span><input list="tamanioAnimal" name="Tamaño del animal">
              <datalist id="tamanioAnimal">
                {{#tamanioAnimal}}
                <option value= {{this}}>
                {{/tamanioAnimal}}
              </datalist>
            </div>
          </div>
        </div>
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>

       </form>

    </section>
  </div>
  <script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

function showTab(n) {
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

/*function hideSteps(){
  var checkBox = document.getElementById("checkChapita");
  var registrado = document.getElementById("registrado");
  var noRegistrado = document.getElementById("sinRegistrar");

  if(checkBox.checked){ //si el rescate tiene chapita, muestra lo que deba completarse (por ahora solo id)
    registrado.style.display = "block";
    noRegistrado.style.display = "none";
  }else{
    registrado.style.display = "none";
    noRegistrado.style.display = "block";
  }
}*/
</script>

{{/partial}}

{{> layout.html.hbs }}