{{# partial "titulo" }}
<title>Patitas - Home</title>
{{/partial}}


{{# partial "contenido" }}
<h1> Bienvenidos!! </h1>
<div class="mision">
  <div class="text_mision">
    <p> Nuestra mision: </p>
    <p> Salvar el planeta </p>
    <p> Rescatar perritos </p>
    <p> Bajar la inflacion</p>
    <p> Destruir a los malos </p>
  </div>
</div>



<a class="button" id="botonRescates" href="/rescates/nuevo">Encontré una Mascota</a>
<a class="button" id="botonMascotas" href="/mascotas/nueva">Registrar mi Mascota</a>

{{/partial}}

{{> layout.html.hbs }}