{{# partial "titulo" }}
<title>Patitas - Home</title>
{{/partial}}


{{# partial "contenido" }}
<h1> Bienvenidos!! </h1>
<div class="mision" style="width: 50%;text-align: center; display: inline-block;">
    <p> Nuestra mision: Salvar el planeta, Rescatar perritos, Bajar la inflacion, Destruir a los malos, Hacer un deploy de Heroku sin morir en el intento </p>
    <p> Lorem ipsum dolor sit amet consectetur adipiscing elit nunc eu massa leo sociosqu, duis proin vestibulum lobortis primis ac mattis ullamcorper porta ut tortor hendrerit dignissim,
      risus sem magna quisque quam velit nascetur bibendum integer dictum elementum.  </p>

</div>

<img src="https://i.imgur.com/5x727aM.png" style="height: 268px; display: inline;">

{{#if rescateExitoso}}
  <div class="alert alert-success" role="alert">
    ¡Se ha registrado correctamente!
  </div>

{{/if}}

<div style="text-align: center">
  <a class="button" id="botonRescates" href="/rescates/nuevo">Encontré una Mascota</a>
  <a class="button" id="botonMascotas" href="/mascotas/nueva">Registrar mi Mascota</a>
</div>


{{/partial}}

{{> layout.html.hbs }}