{{# partial "titulo" }}
<title>PatitasApp - Home</title>
{{/partial}}


{{# partial "contenido" }}
<h1> Bienvenidos!! </h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Integer luctus, massa et pellentesque congue, orci diam consectetur nibh,
non ornare odio justo sed eros. Pellentesque pharetra commodo ipsum vel vulputate.
 Nullam ac orci vel felis ornare vestibulum at a ipsum. Phasellus at volutpat enim. </p>


<a href="/rescates/nuevo">Encontré una Mascota</a>
<a href="/mascotas/nueva">Registrar mi Mascota</a>


{{/partial}}

{{> layout.html.hbs }}