<html>

<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  {{# block "titulo" }}
  {{/block}}
</head>

<body>
  <nav>
    <div class="box">
        <div id="header">
            <ul class="nav">
                <li><a id="home" href="/"> Home </a></li>
                {{#if sesionIniciada}}
                    <li><a href="">Mi Perfil</a>
                        <ul class="submenu">
                            <li><a href="">Mis Mascotas</a></li>
                            {{#if esAdmin}}
                            <li><a href="/caracteristicas">Administrar Caracteristicas</a></li>
                            {{/if}}
                            <li>
                                <form action="/logout" method="POST">
                                    <input id="cerrarSesion" type="submit" value="Cerrar Sesi칩n">
                                </form>
                            </li>
                        </ul>
                    </li>
                {{else}}
                    <li><a id="logInBoton" href="#login"> Iniciar Sesion </a></li>
                    <li><a id="registrarme" href="/usuarios/nuevo"> Registrarme </a></li>
                {{/if}}

            </ul>

        </div>

    </div>

    <div id="login" class="overlay">
        <div class="popup">
            <h2> Iniciar Sesion </h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
            <section class="fondo-gris">
                <form class="login" action="/login" method="POST">
                    <div class="campo">
                        <span class="nombre-campo">Nombre de usuario:</span><input type="text" name="username" placeholder="Ingrese nombre de usuario">
                    </div>
                    <div class="campo">
                        <span class="nombre-campo">Contrase침a:</span><input type="password" name="password" placeholder="Ingrese contrase침a">
                    </div>
                    <input class="boton" type="submit" value="Iniciar Sesi칩n">
                </form>
                <a href="/usuarios/nuevo"> No estoy registrado </a>
            </section>
            </div>
        </div>
    </div>


  </nav>
  <main>
    {{# block "contenido" }}
    {{/block}}
  </main>
  <footer class="fondo-gris">
    Copyright 2021 Patitas
  </footer>
</body>

</html>