<html>

<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  {{# block "titulo" }}
  {{/block}}
</head>

<body>
  <nav>
    <div class="box">
        <div id="header">
            <ul class="nav">
                <li><a id="home" href="/"> Home </a></li>
                {{#if sesionIniciada}}
                    <li><a href="">Mi Perfil</a>
                        <ul class="submenu">
                            <li><a href="">Mis Mascotas</a></li>
                            {{#if esAdmin}}
                            <li><a href="/caracteristicas">Administrar Caracteristicas</a></li>
                            {{/if}}
                            <li>
                                <form action="/logout" method="POST">
                                    <input id="cerrarSesion" type="submit" value="Cerrar Sesión">
                                </form>
                            </li>
                        </ul>
                    </li>
                {{else}}
                    <li><a id="logInBoton" href="/login"> Iniciar Sesion </a></li>
                    <li><a id="registrarme" href="/usuarios/nuevo"> Registrarme </a></li>
                {{/if}}

            </ul>

            <img src="https://i.imgur.com/WlpzPxu.png" id="logo">

        </div>

    </div>

  </nav>
  <main>
    {{# block "contenido" }}
    {{/block}}
  </main>
<!--  <footer class="fondo-gris">
    Copyright 2021 Patitas
  </footer>-->
</body>

</html>