{{# partial "titulo" }}
    <title>Patitas - Mis Mascotas</title>
{{/partial}}


{{# partial "contenido" }}
    <h1> Mis Mascotas </h1>
    {{#each mascotas}}
        <div>
            
        </div>
    {{/each}}

{{/partial}}

{{> layout.html.hbs }}